.block-spacer
.box_white
  %h2 Contact Us
  .double_content_border
  %p
    Community Supported Journalism, Northfield (CSJN)
  %p
    c/o Griff Wigley, Project Manager
  %p
    1133 Heritage Drive
  %p
    Northfield, MN 55057
  %p
    Office: 507.573-4535
  %p
    Cell: 507.319.5541
  %p
    = mail_to "csjnorthfield@gmail.com", nil, :encode => "hex"
  %div{:style => "margin-bottom: 10em;"}
.block-spacer
.block-spacer
